body{
  background-color: purple;

}
/*button styling*/
 button{
  width: 300px;
  padding: 20px;
  margin: 8px;
  color: black;
  background-color: purple;
  display: block

}
footer {
  background-color: green;
  text-align: center;
  caret-color: white;
  margin: 8px;
  color: cyan;
}
h1{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: green;
  color: cyan;
}
#firstdiv{
  background-color: green;
  padding: 500px;
}
label{
  color: cyan;
  text-transform: uppercase;

}
input{
  display: block;
  width: 300px;
  height: 30px;
  border-color: purple;

}
